################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SWE-316-Homework-02/bin/Debug/net8.0-windows
[Bb]in/

.vs/